/* Campaign Syntax - Light Mode */

/* General */
.code-editor .plain-text         { -fx-fill: #000000; }

/* HTML */
.code-editor .html-comment       { -fx-fill: #008000; }
.code-editor .html-doctype       { -fx-fill: #808080; }
.code-editor .html-tag           { -fx-fill: #0000FF; }
.code-editor .html-attr-name     { -fx-fill: #FF0000; }
.code-editor .html-attr-value    { -fx-fill: #0000FF; }
.code-editor .html-entity        { -fx-fill: #008080; }

/* JavaScript */
.code-editor .js-keyword         { -fx-fill: #0000FF; }
.code-editor .js-string          { -fx-fill: #A31515; }
.code-editor .js-comment         { -fx-fill: #008000; }
.code-editor .js-number          { -fx-fill: #098658; }
.code-editor .js-brace           { -fx-fill: #000000; }
.code-editor .js-paren           { -fx-fill: #AF00DB; }
.code-editor .js-bracket         { -fx-fill: #008080; }
.code-editor .js-semicolon       { -fx-fill: #808080; }

/* Adobe Campaign */
.code-editor .acc-directive      { -fx-fill: #AF00DB; }
.code-editor .acc-expression     { -fx-fill: #0070C1; }
.code-editor .acc-scriptlet      { -fx-fill: #000000; }
.code-editor .acc-function       { -fx-fill: #795E26; }
.code-editor .acc-object         { -fx-fill: #001080; }
.code-editor .acc-ctx-attr       { -fx-fill: #0070C1; }
.code-editor .acc-rt-event       { -fx-fill: #0070C1; }