/* Top Level IDE */
.workspace-explorer {
    -fx-background-color: -color-bg-subtle;
}

/* ToolBar buttons */
.large-toolbar {
    -fx-spacing: 4px;
    -fx-padding: 4px;
    -fx-min-height: 46px;
}

.large-toolbar .separator {
    -fx-padding: 0px;
  }

.large-toolbar .button {
    -fx-padding: 8px;
}

.large-toolbar .button-icon {
    -fx-padding: 0px;
}

.small-toolbar {
    -fx-spacing: 2px;
    -fx-padding: 4px;
    -fx-min-height: 40px;
}

.small-toolbar .separator {
    -fx-padding: 0px;

}

.small-toolbar .button {
    -fx-padding: 6px;
}

.small-toolbar .toggle-button {
    -fx-padding: 6px;
}

.small-toolbar .button-icon {
    -fx-padding: 1px;
}

.template-dropdown {
    -fx-pref-width: 220px;
}

.host-label {
    -fx-pref-width: 220px;
}

/* Code Editor */

/* Find input text */
.code-editor .text-input {
    -fx-font-family: 'Consolas';
    -fx-font-size: 11pt;
    -fx-max-height: 30px;
}

.code-editor .code-area {
    /* -fx-background-color: linear-gradient(to right, -color-bg-subtle 0%, -color-bg-subtle 60px, -color-bg-default 60px, -color-bg-default 100%); */
    -fx-background-color: -color-bg-subtle, linear-gradient(to right, -color-bg-default, -color-bg-default)!important ;
    -fx-background-insets: 0, 0 0 0 60;
    -fx-tab-size: 4;
    -fx-font-family: 'Consolas';
    -fx-font-size: 11pt;
}

.code-editor .code-area .paragraph-box .text {
    -fx-tab-size: 4;
}

.code-editor .caret {
    -fx-stroke: -color-fg-default !important;
}

/* Workspace Explorer */
.workspace-explorer {
    -fx-padding: 4px;
}

.workspace-explorer .workspace-explorer-treeview {

}

.workspace-explorer .workspace-explorer-treeview .tree-cell {
    -fx-min-height: 14px;
    -fx-padding: 2px;
}

.workspace-explorer .workspace-explorer-treeview .tree-item-container {
    -fx-spacing: 8;
}

/* Log Panel */
.log-area .log-timestamp {
    -fx-fill: -color-bg-subtle;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}

.log-area .log-message {
    -fx-font-size: 11pt;
}

.log-area .caret {
    -fx-stroke: -color-fg-default !important;
}

/* Error Log */
.error-log-panel .tree-view .tree-cell {
    -fx-padding: 2px;
}

/* Pickers */
.picker-tableview .table-row-cell {
    -fx-cell-size: 24px;
}

.picker-tableview .table-cell {
    -fx-padding: 2px 4px;
}

.folder-dropdown {
    -fx-pref-width: 400px;
}

.schema-dropdown {
    -fx-pref-width: 280px;
}