/* IDE Syntax - Light Mode */

/* General */
.code-editor .plain-text         { -fx-fill: #000000; }

/* XML Syntax */
.code-editor .xml-tagmark        { -fx-fill: #008080; }
.code-editor .xml-anytag         { -fx-fill: #0000FF; }
.code-editor .xml-paren          { -fx-fill: #AF00DB; }
.code-editor .xml-attribute      { -fx-fill: #FF0000; }
.code-editor .xml-avalue         { -fx-fill: #0000FF; }
.code-editor .xml-comment        { -fx-fill: #008000; }

/* HTML */
.code-editor .html-comment       { -fx-fill: #008000; }
.code-editor .html-doctype       { -fx-fill: #808080; }
.code-editor .html-tag           { -fx-fill: #0000FF; }
.code-editor .html-attr-name     { -fx-fill: #FF0000; }
.code-editor .html-attr-value    { -fx-fill: #0000FF; }
.code-editor .html-entity        { -fx-fill: #008080; }

/* JavaScript */
.code-editor .js-keyword         { -fx-fill: #0000FF; }
.code-editor .js-string          { -fx-fill: #A31515; }
.code-editor .js-comment         { -fx-fill: #008000; }
.code-editor .js-number          { -fx-fill: #098658; }
.code-editor .js-brace           { -fx-fill: #000000; }
.code-editor .js-paren           { -fx-fill: #AF00DB; }
.code-editor .js-bracket         { -fx-fill: #008080; }
.code-editor .js-semicolon       { -fx-fill: #808080; }

/* Adobe Campaign */
.code-editor .acc-directive      { -fx-fill: #AF00DB; }
.code-editor .acc-expression     { -fx-fill: #0070C1; }
.code-editor .acc-scriptlet      { -fx-fill: #000000; }
.code-editor .acc-function       { -fx-fill: #795E26; }
.code-editor .acc-object         { -fx-fill: #001080; }
.code-editor .acc-ctx-attr       { -fx-fill: #0070C1; }
.code-editor .acc-rt-event       { -fx-fill: #0070C1; }

/* ToolBar buttons */
.neutral-icon           { -fx-fill: #B7791F; }
.positive-icon          { -fx-fill: #4E8F00; }
.negative-icon          { -fx-fill: #AD1457; }
.workspace-icon         { -fx-fill: #B7791F; }
.template-icon          { -fx-fill: #2F5DA8; }
.block-icon             { -fx-fill: #AD1457; }
.module-icon            { -fx-fill: #4E8F00; }
.context-icon           { -fx-fill: #4EC9B0; }
.backup-icon            { -fx-fill: #B7791F; }

/* Code Editor */
.code-editor .code-area .find-text {
    -rtfx-background-color: yellow !important;
    -fx-fill: black !important;
}

/* Gutter */
.code-editor .paragraph-box .gutter .line-number {
    -fx-text-fill: #2e2e2e;
    -fx-background-color: transparent;
}

.code-editor .paragraph-box .gutter .custom-fold-indicator {
    -fx-background-color: transparent;
    -fx-text-fill: #004006;
    -fx-font-size: 12pt;
}

/* Log area */
.log-area .selection-highlight {
    -fx-fill: #4a90e2;   /* selection background colour */
}